body {
	font-family: Verdana;
}
.main {
	display: flex;
	flex-direction: column;
	border: 0px solid;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.form {
	display: flex;
	flex-direction: column;
	border: 0px solid;
	margin-top: 10px;
	width: 25%;
	align-items: center;
}
.likar_form {
	display: none;
}
.chat_form {
	display: none;
}
.input {
	display: flex;
	flex-direction: column;
	border: 0px solid;
}
.input label {
	font-size: 20px;
	margin-bottom: 5px;
}
.input input[type=button] {
	color: #ff0000;
	background-color: #00ff00; 
	border: 0px solid;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
}